div{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 100%;
    height: 33%;
}
main{
    height: 70%;
    width: 95%;
    margin: 0;
    margin: 0px;
}

button{
    height: 150px;
    margin: 0 100px 0 100px;  
}

body{
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}